{% extends 'base.html.twig' %}

{% block heading %}Tracks{% endblock %}

{% block content %}
    <a href="{{ path('track_new') }}" class="btn btn-danger mb-3" role="button"><span class="fa fa-plus text-white" aria-hidden="true" title="view"></span>&nbsp;Create new</a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr {{ track.isPrivate ? 'class="private-row"' : ''}}>
                <td>{{ track.id }}</td>
                <td>{{ track.name }}{{ track.isPrivate ? '<span class="badge badge-dark ml-3"><span class="fa fa-eye-slash text-white" aria-hidden="true"></span>&nbsp;private</span>' : '' | raw }}</td>
                <td>{{ track.author }}</td>
                <td>
                    <a href="{{ path('track_show', {'id' : track.id}) }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-eye text-white" aria-hidden="true" title="view"></span></a>
                    <a href="{{ path('track_edit', {'id' : track.id}) }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-pencil text-white" aria-hidden="true" title="edit"></span></a>
                    <a href="{{ path('track_delete', {'id' : track.id}) }}" class="entity-delete btn btn-dark" role="button"  ><span class="fa fa-trash-o text-white" aria-hidden="true" title="delete"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
