{% extends 'base.html.twig' %}

{% block heading %}Exercise Tags{% endblock %}

{% block content %}
    <a href="{{ path('exercise_tag_new') }}" class="btn btn-danger mb-3" role="button"><span class="fa fa-plus text-white" aria-hidden="true" title="view"></span>&nbsp;Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}</th>
                <th{% if pagination.isSorted('e.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'e.name') }}</th>
                <th># of exercises</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for exercise_tag in pagination %}
            <tr>
                <td>{{ exercise_tag.id }}</td>
                <td>{{ exercise_tag.name }}{{ exercise_tag.isPrivate ? '<span class="badge badge-dark ml-3"><span class="fa fa-eye-slash text-white" aria-hidden="true"></span>&nbsp;private</span>' : '' | raw }}</td>
                <td>{{ exercise_tag.exercises | length }}</td>
                <td>
                    <a href="{{ path('exercise_tag_show', {'id' : exercise_tag.id}) }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-eye text-white" aria-hidden="true" title="view"></span></a>
                    {% if exercise_tag.user.id == app.user.id %}
                        <a href="{{ path('exercise_tag_edit', {'id' : exercise_tag.id}) }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-pencil text-white" aria-hidden="true" title="edit"></span></a>
                        <a href="{{ path('exercise_tag_delete', {'id' : exercise_tag.id}) }}" class="entity-delete btn btn-dark" role="button"  ><span class="fa fa-trash-o text-white" aria-hidden="true" title="delete"></span></a>
                    {%  endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation float-right mt-5">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
