{% extends 'base.html.twig' %}

{% block heading %}Track Tag{% endblock %}

{% block content %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ track_tag.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ track_tag.name }}</td>
        </tr>
        <tr>
            <th>IsPrivate</th>
            <td>{{ track_tag.isPrivate ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th># of tracks</th>
            <td>{{ track_tag.tracks | length }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('track_tag_index') }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-arrow-left text-white" aria-hidden="true" title="back to list"></span></a>
    <a href="{{ path('track_tag_edit', {'id' : track_tag.id}) }}" class="btn btn-dark mr-2" role="button"><span class="fa fa-pencil text-white" aria-hidden="true" title="edit"></span></a>
    <a href="{{ path('track_tag_delete', {'id' : track_tag.id}) }}" class="entity-delete btn btn-dark" role="button"  ><span class="fa fa-trash-o text-white" aria-hidden="true" title="delete"></span></a>

{% endblock %}
